In [1]:
for i in range(1,20):
    if i%4==0:
        continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [8]:
for i in range(1,10):
    if i==8:
        break
    print(i)

1
2
3
4
5
6
7

In [13]:
i = "PYTHON"
for ch in i:
    if ch in "AEIOUaeiou":
        continue  # skip vowels
    print(ch)

P
Y
T
H
N

In [22]:
cube =[ i**3 for i in range(1,6)]
print(cube)

[1, 8, 27, 64, 125]

In [24]:
even =[i for i in range(1,50) if i%2==0 ]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [26]:
l1 = ["rajesh",["raje"]]
print(l1)

['rajesh', ['raje']]