In [4]:
a = int(input("enter a number: "))

if a%2==0:
    print("even")
else:
    print("odd")

even

In [13]:
age = int(input("enter age: "))
if age<=59:
    if age<=12:
        print("child")
    else:
         if age<=19:
            print("teen")
         else:
             print("adult")
else:
    print("senior")

senior

In [16]:
int1 = int(input("enter first number: "))
int2 = int(input("enter second number: "))
int3 = int(input("enter tird number: "))

if int1>int2:
    print(f" 1st {int1} is biggest number")
elif int2>int3:
    print(f" 2nd {int2} is biggest number")
else:
    print(f"3rd {int3} is biggest nnumber")

 2nd 44 is biggest number

In [18]:
a = int(input("enter a number: "))
b = int(input("enter a number: "))
opt = input("enter operator (+,-,*,/)")
match opt:
    case '+':
        print("result:",a+b)
    case '-':
        print("result:",a-b)
    case '*':
        print("result:",a*b)
    case '/':
        print("result:",a/b)

result: 2.0303030303030303

In [ ]:
for i in range(1,10):
    i *=i
    print(i)

1
4
9
16
25
36
49
64
81

In [30]:
i = 5
while i<=50:
    print(i,"even number:" )
    i += 2

5 even number:
7 even number:
9 even number:
11 even number:
13 even number:
15 even number:
17 even number:
19 even number:
21 even number:
23 even number:
25 even number:
27 even number:
29 even number:
31 even number:
33 even number:
35 even number:
37 even number:
39 even number:
41 even number:
43 even number:
45 even number:
47 even number:
49 even number:

In [48]:
for i in range(1,20,2):
    print("odd",i)

odd 1
odd 3
odd 5
odd 7
odd 9
odd 11
odd 13
odd 15
odd 17
odd 19

In [65]:
for i in range(0,50,5):
    print(f" 5 * {i} = {i*5}")

 5 * 0 = 0
 5 * 5 = 25
 5 * 10 = 50
 5 * 15 = 75
 5 * 20 = 100
 5 * 25 = 125
 5 * 30 = 150
 5 * 35 = 175
 5 * 40 = 200
 5 * 45 = 225

In [82]:
for i in range(0,10):
    i-=10
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [90]:
for i in range(2,50):
    if i%2==0 and i%3==0:
        print(f"{i} is divisible by both")
    elif i%2==0:
        print(f"{i} is divisible by 2\n")
    elif i%3==0:
        print(f"{i} is divisible by 3\n")
    else:
        print(f"{i} is not divisible by both ")

2 is divisible by 2

3 is divisible by 3

4 is divisible by 2

5 is not divisible by both
6 is divisible by both
7 is not divisible by both
8 is divisible by 2

9 is divisible by 3

10 is divisible by 2

11 is not divisible by both
12 is divisible by both
13 is not divisible by both
14 is divisible by 2

15 is divisible by 3

16 is divisible by 2

17 is not divisible by both
18 is divisible by both
19 is not divisible by both
20 is divisible by 2

21 is divisible by 3

22 is divisible by 2

23 is not divisible by both
24 is divisible by both
25 is not divisible by both
26 is divisible by 2

27 is divisible by 3

28 is divisible by 2

29 is not divisible by both
30 is divisible by both
31 is not divisible by both
32 is divisible by 2

33 is divisible by 3

34 is divisible by 2

35 is not divisible by both
36 is divisible by both
37 is not divisible by both
38 is divisible by 2

39 is divisible by 3

40 is divisible by 2

41 is not divisible by both
42 is divisible by both
43 is not divisible by both
44 is divisible by 2

45 is divisible by 3

46 is divisible by 2

47 is not divisible by both
48 is divisible by both
49 is not divisible by both