In [ ]:
first_name = str(input("enter first your name "))
last_name = str(input("enter your last name"))

print(f"hello !! [{last_name}] [{first_name}] ")

In [ ]:
"""
the price of {item} is {prive} dolars"""

item = "iphone"
price = 5.50

print(f"the price of {item} is {price}" .replace("{item}",item).replace("{price}",str(price)))
print(f"{price}")

In [ ]:
text = input("enter a number")

reversed_text = text[::-1]

if  reversed_text == text:
    print("it is plaindrome")
else:
    print("it is not palindrome")

In [ ]:
user_input = str(input("enter you words "))
print(f"{user_input.upper()}")
print(f"{user_input.lower()}")
print(f"{user_input.title()}")

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1.append(10)
l1

In [ ]:
l1 = list(input("enter your list"))
l1.sort()
print(l1)
l1.sort(reverse = True)
print(l1)

In [ ]:
#tuple
#doubt 

t1 = (1,2,2,3,3,4,4,5,6,7)

print(tuple(set(t1)))

In [ ]:
#08

l1 = [1,2,3,4,5,6]

l1.insert(2,4)
l1

# l2 = {"rajesh":1,"ram":2}
# l2.update({1:"ra"})

# l2

In [ ]:
ram =[1,2,3,[1,2,[2,3]],4]

#doubt in replace
print(ram)

print(ram[3])

In [ ]:
#10

l1 = [1,2,3,4,5,6]
l2 = [7,8,9,10,11]

l1.extend(l2)
l1

l2

In [ ]:
l1 = [1,2,3,4,5,[1,2,3],6,7,8]

final_data = l1[5].insert(1,5)

print(final_data)

In [47]:
# rows = int(input("enter rows: "))
for i in range(7,0,-1):
    print("*"*i)

*******
******
*****
****
***
**
*

In [87]:
for i in range(7,0,-1):
    spaces = 7 - i
    rows = 2*i-1
    print(" "*spaces,"*"*rows)

 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [27]:
for i in range (7,1,+1):
    if(i>7):
        print("5")
    else:
      pass

In [100]:
for i in range(1,5 +1):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****
 *****

In [46]:
for i in range(1,5,+1):
    print("*"*i)

*
**
***
****

In [ ]:
print("welcome to the pattern generator and Number Analyzer!")

while True:
    
    print("1. Generate a Pattern")
    print("2. Analyze a Range of Numbers")
    print("3. exit")

    choice = input("Enter your choice")

    match choice:
             
        case "1":
            
            print("1. Right-angle Triangle:")
            print("2. pyramid")
            print("3. Left-angled Triangle")
            
            pattern_choice = input("select patteern type: ")
            
            rows = int(input("enter the number of rows fpr pattern: "))

            match pattern_choice:
                
                case "1":
                    
                    for i in range(1,rows +1):
                         print("*"*i)

                case "2":
                    
                    for i in range(1,rows +1):
                         spaces = rows - i
                         star = 2*i-1
                         print(" "* spaces + "*" * star)
                
                case "3":
                    
                    for i in range(1,rows +1):
                         print(" "*(rows-i),"*" * rows)
                         
                case __:
                         print("invalid number")

        # case "2":
        #    start_range = int(input("enter the start of the range: "))
        #    end_range = int(input("enter the end of the range: "))
        #    if(start_range%2==0):
        #        print(f"number {start_range} is even")

        #    else:
        #        print(f"number {end_range} is odd")
        # case "3":
        #     break
        case __:
            print("invalid number")

welcome to the pattern generator and Number Analyzer!
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
1. Right-angle Triangle:
2. pyramid
3. Left-angled Triangle
*
**
***
****
*****
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
1. Right-angle Triangle:
2. pyramid
3. Left-angled Triangle
    *
   ***
  *****
 *******
*********
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
1. Right-angle Triangle:
2. pyramid
3. Left-angled Triangle
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit
invalid number
1. Generate a Pattern
2. Analyze a Range of Numbers
3. exit

In [ ]:
l = [11,22,11,43,77,99,22,123,4,1,3]
type(l)
(l)

416

In [56]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

print(factorial(4))

24

In [7]:
def square(n):
    return n*n*n

number = [1,2,3,4,5,6,7,8]
squares = [square(x) for x in number]
print(squares)

[1, 8, 27, 64, 125, 216, 343, 512]

In [18]:
for i in range(1,5 +1):
    print(" "*(5-i),"*" *+i)

     *
    **
   ***
  ****
 *****

In [ ]:
def frequency(text):
    
    g = {}
    for i in text:
        if i in g:
            g[i] += 1
        else:
            g[i] = 1
    return g

ni = str(input("enter string: "))
result = frequency(ni)
print(result)

{'r': 1, 'a': 2, 'j': 1, 'e': 1, 's': 1, 'h': 1, ' ': 2, 'm': 1, 'l': 1, 'i': 1}

In [15]:
def a(*args):
    mal = 1
    for i in args:
        mal += i

    return mal

mal = a(1,2,3,3,4,3,3,3,2,22,33,44,3,2,1)

print(mal)

130

In [17]:
def a(**kwargs):
    b = []
    for i in kwargs.items():
        b.append(i)

    return b

c = a(ram = 1 , shyam =2)
print(c)

[('ram', 1), ('shyam', 2)]

In [28]:
def a(*args):
    number = list(args)

   
    print(number)

a(1,2,3,4,5,6,7)

[1, 2, 3, 4, 5, 6, 7]

In [33]:
def a(**kwargs):
    for key,value in kwargs.items():
        print(f"{key} = {value} ")

a(name="rajeh",roll=21,city="surat")

name = rajeh
roll = 21
city = surat

In [36]:
def a(*args, **kwargs):
 print("args",args)
 print("kwargs",kwargs)

print(a(1,2,3,4,5, name="rajeh",roll=21,city="surat"))

args (1, 2, 3, 4, 5)
kwargs {'name': 'rajeh', 'roll': 21, 'city': 'surat'}
None

In [40]:
def a(*args, **kwargs):
    total = sum(args)
    print(args,"sum",total)
    for key,value in kwargs.items():
        print(f"{key} = {value}")



print(a(1,2,3,4,5, name="rajeh",roll=21,city="surat"))

(1, 2, 3, 4, 5) sum 15
name = rajeh
roll = 21
city = surat
None

In [50]:
def discribe(*args, **kwargs):
    print("hobbies",args)
    print("bio_data",kwargs)
    for key,value in kwargs.items():
        print(f" {key}:{value}")
    


hobbies = ["gym","gaming","coding","reading"]
bio_data = {"name":"rajesh","age":20,"education":'BCA'}

discribe(*hobbies,**bio_data)

hobbies ('gym', 'gaming', 'coding', 'reading')
bio_data {'name': 'rajesh', 'age': 20, 'education': 'BCA'}
 name:rajesh
 age:20
 education:BCA

In [ ]:
def cube(n):
    list1 = []
    for i in n:
        cube_value = i**3
        list1.append(cube_value)
    return list1
    
n = [1,2,3,4,5,6,7]

print(cube(n))

[1, 8, 27, 64, 125, 216, 343]

In [ ]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [20]:
data = [1,2,40,50,50]
value = int(input("Enter a threshold value to filter out data above this value: "))
filtered_data = list(filter(lambda x: x >= value,data))
print(f"Filtered Data (Values >= {value}): {filtered_data}")

Filtered Data (Values >= 22): [40, 50, 50]

In [21]:
data = [1,2,3,4,5,6,7,8]

m = min(data)

print(m)

1

In [23]:
data = [1,2,3,4,3,2,4,54,66,7]
minn = (min(data))
print(f"Minimum value: {minn}")
maxi = (max(data))
print(f"Maximum value: {maxi}")

total = 0

for i in data:
     total +=i  

print("Sum of all values: ",total)   

avg = total/len(data)

print(f"Average value: {avg}")

Minimum value: 1
Maximum value: 66
Sum of all values:  146
Average value: 14.6

In [ ]:
class car:
    tyre = None
audi = car()

ferari = car()

In [24]:
class pokemon:
    name = None
    type =  None
    health = None

pikachu = pokemon()
pikachu.name = "pikachu"
pikachu.type = "electric" 
pikachu.health = 85

print(pikachu.name,pikachu.type,pikachu.health)

bulbasore = pokemon()
bulbasore.name = "bubasore"
bulbasore.type = "water"
bulbasore.health = 90

print(bulbasore.name,bulbasore.type,bulbasore.health)

pikachu electric 85
bubasore water 90

In [1]:
class tenth():
    sid = None
    name = None
    age = None

student1 = tenth()
student1.sid = int(input("enter sid number: "))
student1.name = str(input("enter your name: "))
student1.age = int(input("age: "))

print(student1.sid,student1.name,student1.age)

student2 = tenth()
student2.sid = int(input("enter sid number: "))
student2.name = str(input("enter your name: "))
student2.age = int(input("age: "))

print(student2.sid,student2.name,student2.age)

student3 = tenth()
student3.sid = int(input("enter sid number: "))
student3.name = str(input("enter your name: "))
student3.age = int(input("age: "))
print(student3.sid,student3.name,student3.age)

student4 = tenth()
student4.sid = int(input("enter sid number: "))
student4.name = str(input("enter your name: "))
student4.age = int(input("age: "))

print(student3.sid,student3.name,student3.age)

student5 = tenth()
student5.sid = int(input("enter sid number: "))
student5.name = str(input("enter your name: "))
student5.age = int(input("age: "))

print(student5.sid,student5.name,student5.age)

1 rajesh 21
2 rohan 19
3 jitu 20
3 jitu 20
5 jay 21

In [15]:
class student:
    sid = None
    name = None
    age = None

def setdata(self):
    self.sid = 1
    self.name = "rajesh"
    self.age = 21

def getdata(self):
    print(self.sid,self.name,self.age)

s1 = student()

s2 = student()

s1.setdata()
s1.getdata()

s2.setdata()
s2.getdata()

AttributeError: 'student' object has no attribute 'setdata'

In [17]:
class student:
    sid = None
    name = None
    age = None

    def setdata(self, a, b, c):
        self.sid = a
        self.name = b
        self.age = c

    def getdata(self):
        print(self.sid,self.name,self.age)

    s1 = student()
    s2 = student()

    s1.setdata(20,"rajesh",21)
    s2 = setdata()

    s2.setdata(21,"isha",17)
    s2 = getdata()

NameError: name 'Student' is not defined